body {
    background: gray;
}

h1 {
    font-size: 50px;
}

#main {
    margin: 0 auto;
    width: 100%;

}

#topHeader {
    width: 100%;
    height: 20px;
    border-bottom: 1px solid #CFFFF5;
    background: url('img/images.jpg');

}

#header {
    width: 100%;
    height: 400px;
    background: gray;
    /* IE10 */    background-image: -ms-radial-gradient(center, circle cover, #808080 0%, #212121 100%);
    /* Mozilla Firefox */    background-image: -moz-radial-gradient(center, circle cover, #808080 0%, #212121 100%);
    /* Opera */    background-image: -o-radial-gradient(center, circle cover, #808080 0%, #212121 100%);
    /* Webkit (Safari/Chrome 10) */    background-image: -webkit-gradient(radial, center center, 0, center center, 510, color-stop(0, #808080), color-stop(1, #212121));
    /* Webkit (Chrome 11+) */    background-image: -webkit-radial-gradient(center, circle cover, #808080 0%, #212121 100%);
    /* Proposed W3C Markup */    background-image: radial-gradient(center, circle cover, #808080 0%, #212121 100%);
}

#header #logoAndMenu {
    float: left;
    width: 230px;
    height: 320px;
    margin: 40px 0px 0px 100px;
}

#header #logoAndMenu #logo {
    width: 145px;
    height: 120px;
    margin: 10px 0px 0px 52px;
    font-size: 100px;
    background: url('img/logo2.png') no-repeat;
}

#header #logoAndMenu #menu {
    width: 200px;
    height: 188px;
    margin: 10px 0px 0px 14px;
}

#header #logoAndMenu #menu span.menuItem {
    display: inline-block;
    height: 30px;
    padding: 16px 25px;
    width: 150px;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 22px;
    text-align: center;
}

#header #logoAndMenu #menu span.menuItem a:hover {
    color: #212121;
    cursor: pointer;
}

#header #carousel{
    float: left;
    width: 780px;
    height: 320px;
    margin: 40px 0px 0px 50px;
}
